*{
background-color: rgb(102, 0, 0);
}

a{
color: orange;
}

.name{
    position: fixed;
    top: 25px;
    right: 45%;
    text-decoration: underline;
}

header{
    border: 2px solid black;

}

.img1{
    width: 100px;
    height: 100px;
}

nav{
    justify-self: center;
}

nav > a{
    padding: 0 25px;
}

main{
    justify-self: center;
    margin: 40px 0px;
}

footer{
    justify-self: center;
}

.img2{
    position: relative;
    right: 250px;
}

.img3{

}

.img4{
    position: relative;
    left: 250px;
}