*{
color: white;
}
body{
    animation: 2s gradient linear infinite;
}
@keyframes gradient {
    0%{
    background-image: radial-gradient(black, rgb(102, 0, 0), black);
    }
    50%{
    background-image: radial-gradient( rgb(102, 0, 0), black, rgb(102, 0, 0));
    }
    100%{
    background-image: radial-gradient(black, rgb(102, 0, 0), black);
    }
}
a{
color: orange;
}

.name{
    position: fixed;
    top: 25px;
    right: 45%;
    text-decoration: underline;
}
.div1{

}
.div2{

}
header{
    
    display: flex;
    align-items: start;  
    justify-self: center;
}


nav{
    justify-self: center;
}

nav > a{
    padding: 0 25px;
}

a:hover{
    padding: 10px;
    animation: 4s link linear infinite;
}
@keyframes link {
    0%{font-size: 16px;}
    50%{font-size: 20px;}
    100%{font-size: 16px;}
}

main{
    justify-self: center;
    margin: 40px 0px;
    justify-items: center;
}

footer{
    justify-self: center;
    position: relative;
    bottom: 0px;
}
.img1{
    margin-top: 2px;
}
.img2{
    position: relative;
    right: 250px;
 
}

.img3{

}

.img4{
    position: relative;
    left: 250px;
}
input{
    background-color: rgb(102, 0, 0);

}
input::placeholder{
    color: white;
}
